* {
  box-sizing: border-box;
  --color-cardback: #FFFFD4;
  --color-forgot: #FF3030;
  --color-almost-forgot: #FF922E;
  --color-no-forgot: #2FBE34;
  --color-back: #FB6B6B;
  --black: #333333;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-back);
  color: var(--black);
  font-family: 'Recursive', sans-serif;
}